
body {
		background-image: url("home.jpg");
		background-size: cover;                     
	    background-repeat: no-repeat;
	    background-position: center center;
}

.jumbotron {
		background: linear-gradient(#AED6F1, pink);
		max-height: 230px;
}
.jumbotron h1{
		float: left;
		margin-top: 10px;
		color: grey;
		font-family: 'Armata', sans-serif;
}
.panel {
		float: left;
		width: 350px;
		background: linear-gradient(#D2B4DE, grey);
		border-style: none;
		color: white;
		opacity: .8;
		margin-top: 20px;
		margin-left: 60px;
		box-shadow: 0 0 1.2em 0.8em #99c5ff;
		font-family: 'Bree Serif', serif;

}
#survey {
		background-color: #EC7063;
		border-style: none;
		color: white;
		font-size: 18px;
		padding: 15px;
		border-radius: 10px;
}
.navbar{
		background: linear-gradient(purple, black);
		border-style: none; 
		height: 50px;
		color: silver;
}

.input-group .form-control:last-child:first-child {
    	border-radius: 10px;
}

#links {
		background-color: #D2B4DE;
		width: 230px;
		float: left;
		text-align: center;
		margin-left: 130px;
		padding-top: 5px;
		border-radius: 5px;
		margin-top: 5px;
}

#questions {
		margin-left: 50px;
}

#submitBtn{
		background-color: #EC7063;
		border-style: none;
		color: white;
		font-size: 18px;
		padding: 15px;
		border-radius: 10px;
		margin-left: 20px;
		margin-top: 30px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;  
    left: 0;
    top: 0;
    width: 30%; 
    max-height: 100%; 
    overflow: auto; 
    margin-left: 420px;
    margin-top: 90px;
    text-align: center;

}

.modal-content {
	background: linear-gradient(#AED6F1, pink);
	padding: 5px 0 15px 0;
	border-radius: 5px;

}
.modal-header
 {
     
     background-color: #EC7063;
     color: white;
     font-size: 18px;
 }
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1;  
    left: 0;
    top: 0;
    width: 30%; 
    max-height: 100%; 
    overflow: auto; 
    margin-left: 420px;
    margin-top: 120px;
    text-align: center;

}

.modal2-content {
	background-color: white;
	padding: 5px 0 15px 0;
	border-radius: 5px;

}
.modal2-header
 {
     
     background-color: red;
     color: white;
     font-size: 18px;




 




